body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    }

.in, .in2 {
    padding-left: 10px;
    }

#lockbutton {
    margin-bottom: 20px;
    }

.excb {
    margin-left: 20px;
    }

